body{
    font-family: "Roboto", sans-serif;
color: var(--color-slate);
}

:root {
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
}


.logo{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-iris);
display: inline
}

.logo-black-letters{
    font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-navy-blue);
display: inline;
}

.logo-white-letters {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cloud);
    display: inline;
}

.link{
    text-decoration: none;
}

.list{
    list-style: none;
}

/* ---------------Menu----------------- */



.menu-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.top-address {
    font-style: normal;
}

.address-list-item {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.address-list-item:is(:hover, :focus){
    color: #404BBF
}

.menu-link:is(:hover, :focus){
    color: #404BBF; 
}

/* --------------Hero-------------- */

.hero {
    background-color: var(--color-navy-blue);
}

.hero-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center
}

.hero-button {
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
cursor: pointer;
}

.hero-button:is(:hover, :focus){
    background-color: #404BBF;
    cursor: pointer;
}
/* ------------------Benefits----------- */
.benefits-list-title{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.benefits-text{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}

.benefits-title{
    font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}

/*----------------------Our Team---------------- */

.our-team-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center
}

.team-list-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.team-list-profesion {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* --------------Footer-------------------- */

.footer {
    background-color: var(--color-navy-blue);
}

.footer-text{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

/* !!!!!!!!!!!!!!!!!!!!Portfolio!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/*----------------------- Main-------------------------------- */


.services-btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-iris);
background-color: var(--color-cloud);
}

.services-btn:is(:hover, :focus) {
    color: #FFFFFF;
    background-color: var(--color-ocean);
    cursor: pointer;
}

.services-list-tytle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-navy-blue)
}

.services-list-text{
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-slate);
}